
#logo{
    margin-top: -70px;
    margin-left: 15px;
    float: left;
}

#logo img{
    width: 60px;
    height: 50px;
    /* border: 2px solid black; */
} 


#login{
    display: flex;
}

img{
    height: 83vh;
    width: 90vh;
    margin-left: -15.%;
    margin-top: 80px;
}

.form{
    margin-top: 1%;
    margin: 50px;
    margin-left: 6%;
    /* border: 2px solid black; */
    width: 90vh;
    text-align: center;
}

.form h1{
    margin-top: 13%;
    font-size: 35px;
    letter-spacing: 2px;
    color: #2A363B;
}

.form h2{
    text-align: center;
    color: #2A363B;
    font-size: 30px;
    letter-spacing: 2px;
}

.form-container{
    /* margin: 50px; */
    margin-top: 5%;
    margin-right: 20px;
    margin-left: 20px;
    /* border: 2px solid black; */
    width: 85vh;
    background-color: #99B898;
    height: 45%;
    align-items: center;
    /* padding-left: 60px; */
    padding-top: 50px;
    justify-content: center;
    border-radius: 10px;
    text-align: center;

    
}


.col-md-6{
    height: 80px;
}

.form-control{
    font-family: 'Times New Roman', Times, serif;
 
}

#inputUserName4{
    height: 40px;
    width: 60vh; 
    border-radius: 5px;  
    border: none;
    font-size: 20px;
    padding: 5px;
    padding-left: 8px;
    letter-spacing: 1px;
}

#inputPassword4{
    height: 40px;
    width: 60vh;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    padding: 5px;
    padding-left: 8px;
    letter-spacing: 1px;
}

.btn-primary{
    height: 50px;
    width: 20vh;
    align-items: center;
    border-radius: 5px;
    border: none;
    justify-content: center;
    color: white;
    background-color: #2A363B;
    font-size: 18px;
    cursor: pointer;

}

